/* This work for bassic cod Css*/
*{margin:0;Padding:0;box-sizing:border-box;}
	html{	scroll-behavior:smooth;}
	body{	font-family:'Poppins' , sans-serif; font-size:14px; background:white;font-weight:400; color:#111;}
	p{		line-height:26px; color:#565656;font-family:'Poppins' , sans-serif; }
	b{   	font-size:14px;}
	h1{	    font-size:38px; font-family:'Poppins' , sans-serif; font-weight:700; }
	h2{ 	font-size:26px; font-weight:700;color:#111;}
	h3{     font-size:22px;font-weight:400;}
	h4{		font-size:17px; }
	h5{		font-size:16px;font-weight:400; }
	input{	font-size:14px; font-family:'Poppins' , sans-serif;}
	a{		color:inherit; text-decoration:none;}
	li{		list-style:none;}
	button{	font-family:'Poppins' , sans-serif; display:block;font-size:16px; font-weight:400;color:inherit; padding: 12px 40px;
	cursor: pointer; }
	img{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
/* Css Key , Bassic key Closses */ 

#Home{
	width: 100%;
	background-color: #cfe7ff;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.HomeSize{
	margin:0px 120px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.HomeSize .HmLeft{
	width: 60%;
	margin-left: -100px;
}
.HomeSize .HmLeft .image{
	z-index: 2;
	position: relative;
}
.HomeSize .HmLeft .ExpHome{
	width: 600px;
	height: 600px;
	background: radial-gradient( #e4c1ff 15%, #cfe7ff 60%);
	text-align: center;
	position: absolute;
	margin-left: 1%;
	margin-top: 3vh;
	z-index: 1;
}
.HomeSize .HmRight{
	width: 50%;
	z-index: 2;
	}
	.HomeSize .HmRight h2{
	margin-top: 10px;
	}
	.HomeSize .HmRight h1{
		margin-top: 10px;
		}
	.HomeSize .HmRight h4{
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.HomeSize .HmRight h4 span{
		display: block;
		width: 40px ;
		height: 3px ;
		background-color: #111;
		margin-left: 10px;
	}
	.HomeSize .HmRight p{
		margin-top: 40px;
	}
	.HomeSize .HmRight button{
	margin-top: 40px;
	background:linear-gradient(30deg, rgb(212, 0, 255),rgb(0, 119, 255));
	border-radius: 100px;
	outline: none;
	border: none;
	color: white;
	box-shadow: 0px 0px 50px rgb(120 187 255) ;
	}
	